						<h3 class="page-title">
							Report				<small>statistics and more</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="index.html">Home</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Report</a></li>

						</ul>
					<div class="row-fluid">
						<div class="span6">
							<div class="widget">
								<div class="widget-title">
									<h4><i class="icon-reorder"></i>Pie Chart</h4>
									<span class="tools">
									<a href="#widget-config" data-toggle="modal" class="icon-wrench"></a>
									<a href="javascript:;" class="icon-refresh"></a>		
									<a href="javascript:;" class="icon-remove"></a>
									</span>							
								</div>
								<div class="widget-body">
									<div id="graph_1" class="chart"></div>
								</div>
							</div>
							<div class="widget">
								<div class="widget-title">
									<h4><i class="icon-reorder"></i>Pie Chart</h4>
									<span class="tools">
									<a href="#widget-config" data-toggle="modal" class="icon-wrench"></a>
									<a href="javascript:;" class="icon-refresh"></a>		
									<a href="javascript:;" class="icon-remove"></a>
									</span>							
								</div>
								<div class="widget-body">
									<div id="graph_2" class="chart"></div>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="widget">
								<div class="widget-title">
									<h4><i class="icon-reorder"></i>Interactive Chart</h4>
									<span class="tools">
									<a href="#widget-config" data-toggle="modal" class="icon-wrench"></a>
									<a href="javascript:;" class="icon-refresh"></a>		
									<a href="javascript:;" class="icon-remove"></a>
									</span>							
								</div>
								<div class="widget-body">
									<div id="graph_3" class="chart"></div>
								</div>
							</div>
							<div class="widget">
								<div class="widget-title">
									<h4><i class="icon-reorder"></i>Donut Chart</h4>
									<span class="tools">
									<a href="#widget-config" data-toggle="modal" class="icon-wrench"></a>
									<a href="javascript:;" class="icon-refresh"></a>		
									<a href="javascript:;" class="icon-remove"></a>
									</span>							
								</div>
								<div class="widget-body">
									<div id="graph_4" class="chart"></div>
								</div>
							</div>
						</div>
					</div>

